<mat-toolbar>Contato</mat-toolbar>
<form [formGroup]="formulario" (ngSubmit)="submit()">
    <mat-form-field class="full-width">
        <mat-label>Nome: </mat-label>
        <input formControlName="nome" matInput placeholder="Digite seu nome">
    </mat-form-field>
    <div *ngIf="this.formulario.controls.nome.errors">
        <div *ngIf="this.formulario.controls.nome.errors.required">
            O campo nome é obrigatório
        </div>
    </div>

    <mat-form-field class="full-width">
        <mat-label>Email: </mat-label>
        <input formControlName="email" matInput placeholder="Digite seu email">

    </mat-form-field>
    <div *ngIf="this.formulario.controls.email.errors">
        <div *ngIf="this.formulario.controls.email.errors.email">
            O campo email está inválido
        </div>
        <div *ngIf="this.formulario.controls.email.errors.required">
            O campo email é obrigatório
        </div>
    </div>


    <button [disabled]="!formulario.valid" mat-button color="primary">
        Adicionar
    </button>
</form>